body{
	margin: 0;
}

.windowArea section{
	background-color: #E0E0E0;
	color: #000;
	border: 1px solid #808080;
	margin: auto;
	padding: .5rem;
	width: 50%;
}

.windowArea section header{
	background-color: #C0C0C0;
	color: #000;
	margin: -.5rem -.5rem .5em -.5em;
}

.windowArea section header h1{
	font-size: 1.2rem;
	margin: 0;
	padding: .25rem;
}

/*#wm_toolBar:after{
	content: ".";
	display: block;
	visibility: hidden;
}

#wm_toolBar > nav{
	border: 1px solid #C0C0C0;
	float: left;
	margin: .1rem;
	padding: .2rem;
}

#wm_toolBar > nav > ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#wm_toolBar li{
	display: inline-block;
}*/

#wm_statusBar{
	background-color: #C0C0C0;
	border-bottom: 1px solid #808080;
	color: #000;
	padding: .25rem;
}

#wm_statusBar label{
	font-weight: bold;
}

#wm_statusBar > ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#wm_statusBar > ul > li{
	display: inline-block;
}

#wm_statusBar input[type="text"]{
	background-color: transparent;
	border: none;
	color: inherit;
	cursor: default;
	font-size: 1rem;
	text-align: left;
}

#wm_mainArea{
	display: flex;
	flex-direction: row;
}

#wm_map{
	flex: 1 1 auto;
}

#wm_parts{
	background-color: #E0E0E0;
	flex: 0 0 auto;
	margin: 0;
	padding: 0;
}

#wm_parts section{
	background-color: #E0E0E0;
	border-width: 0 0 0 3px;
	border-style: double;
	border-color: #808080;
	color: #000;
	margin: 0;
	padding: 0;
}

#wm_parts section h1{
	background-color: #C0C0C0;
	color: #000;
	font-size: 1.25rem;
	margin: 0;
	padding: .25rem;
}

#wm_parts_list canvas{
	display: block;
}

#wm_parts_list button{
	display: inline-block;
	margin: .25rem;
	padding: 0rem .25rem;
}