html,
body{
	height: 100%;
	overflow: hidden;
}

body{
	margin: 0;
}

.windowArea section{
	background-color: #E0E0E0;
	color: #000;
	border: 1px solid #808080;
	margin: auto;
	padding: .5rem;
	width: 50%;
}

.windowArea section header{
	background-color: #C0C0C0;
	color: #000;
	margin: -.5rem -.5rem .5em -.5em;
}

.windowArea section header h1{
	font-size: 1.2rem;
	margin: 0;
	padding: .25rem;
}

.readOnlyText{
	background-color: transparent;
	border: none;
	color: inherit;
	cursor: default;
	font-size: 1rem;
	text-align: left;
}

#wm_toolBar{
	height: 2.5rem;
	visibility: hidden;
}

#wm_toolBar > nav,
#wm_toolBar > nav > ul{
	display: inline-block;
}

#wm_toolBar > nav{
	border: 1px solid #C0C0C0;
	margin: .1rem;
	padding: .2rem;
}

#wm_toolBar > nav > ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#wm_toolBar > nav li{
	display: inline;
}

#wm_statusBar{
	background-color: #404040;
	box-sizing: border-box;
	color: #FFF;
	height: 2.5rem;
	padding: .25rem;
}

#wm_statusBar label{
	font-weight: bold;
}

#wm_statusBar > ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#wm_statusBar > ul > li{
	display: inline-block;
}

#wm_mainArea{
	display: flex;
	flex-direction: row;
	height: calc(100% - 5rem);
}

#wm_map{
	flex: 1 1 auto;
	overflow: scroll;
}

#wm_parts{
	background-color: #E0E0E0;
	border-left: 3px double #404040;
	flex: 0 0 auto;
	margin: 0;
	padding: 0;
}

#wm_parts section{
	background-color: #E0E0E0;
	border-bottom: 1px solid #404040;
	color: #000;
	margin: 0;
	padding: 0;
}

#wm_parts section h1{
	background-color: #A0A0A0;
	color: #000;
	font-size: 1.25rem;
	margin: 0;
	padding: .25rem;
}

#wm_parts section div {
	height: 120px;
	overflow: scroll;
}

#wm_parts_list canvas{
	display: block;
}

#wm_parts_list label{
	font-weight: bold;
}

#wm_parts_list button{
	display: inline-block;
	margin: .25rem;
	padding: 0rem .25rem;
}