// TODO: 共通のスタイルシート変数を集めた SCSS ファイルを作成しておく
$chip-size: 40px;

.partsList {
    background-color: rgb(158, 158, 158);
    overflow-y: scroll;
    /**
     * @todo 単純に済ませるために line-height: 0 としているが、問題があったら flex や grid に変更しておく。
     */
    line-height: 0;
    position: relative;
    width: 100%;
    height: 100%;
}

.partsListContainer {
    width: $chip-size * 10;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
