.toolPanel {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
}

.toolPanelItem {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    /**
     * .toolPanelItemContent の長いコンテンツで .toolPanelItem がはみ出ないようにするためのプロパティ
     */
    overflow: hidden;
}

.toolPanelItemHeader,
.toolPanelItemFooter {
    flex: 0 0 auto;
}
